.flex-container {
  display: flex;
  height: 150px;
  width: 160px;
  border: 2px solid black;
}

.item {
  font-size: 24px;
  height: 50px;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.green {
  background-color: greenyellow;
}

.blue {
  background-color: blue;
}
 
.no-wrap {
  flex-wrap: nowrap;
  align-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
  align-content:flex-start;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
  align-content: flex-start;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}